/* @group About page styles -------------------- */

.page-about {
  .site-nav a {
    color: $gray_2;
  }

  .page-header {
    padding: 100px 0;
    background-size: cover;
    background-color: $almost_black;
    color: $gray_2;
    box-shadow: initial;

    .my-avatar { display: none; }

    .intro-copy h1 {
      text-align: right;
      margin-right: 10%;
      margin-top: 0; }

  }

  .post-content { font-size: 1.12rem;

    .lead {
      @include sans_light;
      font-size: 1.8rem;
      font-weight: 300;
      margin-bottom: 45px;
      margin-top: 10px;

      a { font-weight: inherit; }
    }
  }
}

/* @end about page styles */
