{% include site-nav.html %}

  <header class="page-header">

    <div class="wrap">

      <div class="intro-copy">
        <h1>Fabien Loup</h1>
        <h2>Software Engineer</h2>
        <p class="description">Hi, I’m Fabien. I’m a Freelance Software Engineer. I hope you enjoy <a href="/#writing">the blog</a>. If you want to hire me, the best is to contact me via <a href="https://www.linkedin.com/in/fabien-loup-b60431147" target="_blank">LinkedIn</a> or <a href="https://mamot.fr/@norydev" target="_blank">Mastodon</a> and say you found me via this website.</p>
        <div class="social-media-links">
          <a href="https://www.linkedin.com/in/fabien-loup-b60431147" class="icon-link" target="_blank">{% include icons/icon-linkedin.html %}</a>
          <a href="https://github.com/norydev" class="icon-link" target="_blank">{% include icons/icon-github.html %}</a>
          <a rel="me" href="https://mamot.fr/@norydev" class="icon-link" target="_blank">{% include icons/icon-mastodon.html %}</a>
        </div>
      </div>

      <div class="my-avatar home">
        <img class="me-photo" src="/img/me.png" alt="Fabien Loup photo" />
      </div>

    </div>

  </header>
