{% include site-nav.html %}

  <header class="page-header">

    <div class="wrap">

      <div class="intro-copy">
        <h1>Fabien Loup</h1>
        <h2>Software Developer</h2>
        <p class="description">Hi, I’m Fabien. I work at <a href="http://www.pisano.co">Pisano</a> where I’m a full-stack developer. Sometimes I <a href="/#writing">write</a> something. I like to spend my holidays <a href="https://www.somewherexpress.com">Hitchhiking</a> with my friends.<br></p>
        <div class="social-media-links">
          <a href="https://github.com/norydev" class="icon-link" target="_blank">{% include icons/icon-github.html %}</a>
          <a href="https://twitter.com/norydev" class="icon-link" target="_blank">{% include icons/icon-twitter.html %}</a>
          <a href="https://angel.co/norydev" class="icon-link" target="_blank">{% include icons/icon-angellist.html %}</a>
          <a href="https://stackoverflow.com/users/4062992/norydev" class="icon-link" target="_blank">{% include icons/icon-stackoverflow.html %}</a>
          <a href="https://www.linkedin.com/in/fabien-loup-b60431147" class="icon-link" target="_blank">{% include icons/icon-linkedin.html %}</a>
        </div>
      </div>

      <div class="my-avatar home">
        <img class="me-photo" src="/img/me.png" alt="Fabien Loup photo" />
      </div>

    </div>

  </header>
